@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-1MMexMPQ6oQu_font-family: "Inter", sans-serif;
  --mixin-1MMexMPQ6oQu_font-size: 16px;
  --mixin-1MMexMPQ6oQu_font-weight: 400;
  --mixin-1MMexMPQ6oQu_font-style: normal;
  --mixin-1MMexMPQ6oQu_color: #535353;
  --mixin-1MMexMPQ6oQu_text-align: left;
  --mixin-1MMexMPQ6oQu_text-transform: none;
  --mixin-1MMexMPQ6oQu_line-height: 1.5;
  --mixin-1MMexMPQ6oQu_letter-spacing: normal;
  --mixin-1MMexMPQ6oQu_white-space: pre-wrap;
  --mixin-1MMexMPQ6oQu_user-select: text;
  --mixin-1MMexMPQ6oQu_text-decoration-line: none;
  --mixin-1MMexMPQ6oQu_text-overflow: clip;
  --mixin-oHVd5rj6uuGA_color: #000000;
  --mixin-oHVd5rj6uuGA_font-weight: 700;
  --mixin-oHVd5rj6uuGA_font-size: 64px;
  --mixin-oHVd5rj6uuGA_line-height: 1;
  --mixin-oHVd5rj6uuGA_letter-spacing: -1px;
  --mixin-oHVd5rj6uuGA_white-space: pre-wrap;
  --mixin-6JiNCB75XM1Q_color: #000000;
  --mixin-6JiNCB75XM1Q_font-size: 48px;
  --mixin-6JiNCB75XM1Q_font-weight: 700;
  --mixin-6JiNCB75XM1Q_letter-spacing: -0.5px;
  --mixin-6JiNCB75XM1Q_line-height: 1.1;
  --mixin-6JiNCB75XM1Q_white-space: pre-wrap;
  --mixin-TjRmDP1Kmf2f_color: #0070f3;
  --mixin-TjRmDP1Kmf2f_white-space: pre-wrap;
  --mixin-6OTPkJj9WJKL_color: #000000;
  --mixin-6OTPkJj9WJKL_font-size: 32px;
  --mixin-6OTPkJj9WJKL_font-weight: 600;
  --mixin-6OTPkJj9WJKL_line-height: 1.2;
  --mixin-6OTPkJj9WJKL_white-space: pre-wrap;
  --mixin-jNSA0fYJ36B5_color: #000000;
  --mixin-jNSA0fYJ36B5_font-size: 24px;
  --mixin-jNSA0fYJ36B5_font-weight: 600;
  --mixin-jNSA0fYJ36B5_line-height: 1.3;
  --mixin-jNSA0fYJ36B5_white-space: pre-wrap;
  --mixin-mjhYM9yXudCY_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mjhYM9yXudCY_border-bottom-color: #dddddd;
  --mixin-mjhYM9yXudCY_border-bottom-style: solid;
  --mixin-mjhYM9yXudCY_border-bottom-width: 1px;
  --mixin-mjhYM9yXudCY_border-left-color: #dddddd;
  --mixin-mjhYM9yXudCY_border-left-style: solid;
  --mixin-mjhYM9yXudCY_border-left-width: 1px;
  --mixin-mjhYM9yXudCY_border-right-color: #dddddd;
  --mixin-mjhYM9yXudCY_border-right-style: solid;
  --mixin-mjhYM9yXudCY_border-right-width: 1px;
  --mixin-mjhYM9yXudCY_border-top-color: #dddddd;
  --mixin-mjhYM9yXudCY_border-top-style: solid;
  --mixin-mjhYM9yXudCY_border-top-width: 1px;
  --mixin-mjhYM9yXudCY_border-bottom-left-radius: 3px;
  --mixin-mjhYM9yXudCY_border-bottom-right-radius: 3px;
  --mixin-mjhYM9yXudCY_border-top-left-radius: 3px;
  --mixin-mjhYM9yXudCY_border-top-right-radius: 3px;
  --mixin-mjhYM9yXudCY_font-family: "Inconsolata";
  --mixin-mjhYM9yXudCY_padding-bottom: 1px;
  --mixin-mjhYM9yXudCY_padding-left: 4px;
  --mixin-mjhYM9yXudCY_padding-right: 4px;
  --mixin-mjhYM9yXudCY_padding-top: 1px;
  --mixin-mjhYM9yXudCY_white-space: pre-wrap;
  --mixin-sKnO4ZsnEIe-_border-left-color: #dddddd;
  --mixin-sKnO4ZsnEIe-_border-left-style: solid;
  --mixin-sKnO4ZsnEIe-_border-left-width: 3px;
  --mixin-sKnO4ZsnEIe-_color: #888888;
  --mixin-sKnO4ZsnEIe-_padding-left: 10px;
  --mixin-sKnO4ZsnEIe-_white-space: pre-wrap;
  --mixin-DKMQfJbn_PAm_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-DKMQfJbn_PAm_border-bottom-color: #dddddd;
  --mixin-DKMQfJbn_PAm_border-bottom-style: solid;
  --mixin-DKMQfJbn_PAm_border-bottom-width: 1px;
  --mixin-DKMQfJbn_PAm_border-left-color: #dddddd;
  --mixin-DKMQfJbn_PAm_border-left-style: solid;
  --mixin-DKMQfJbn_PAm_border-left-width: 1px;
  --mixin-DKMQfJbn_PAm_border-right-color: #dddddd;
  --mixin-DKMQfJbn_PAm_border-right-style: solid;
  --mixin-DKMQfJbn_PAm_border-right-width: 1px;
  --mixin-DKMQfJbn_PAm_border-top-color: #dddddd;
  --mixin-DKMQfJbn_PAm_border-top-style: solid;
  --mixin-DKMQfJbn_PAm_border-top-width: 1px;
  --mixin-DKMQfJbn_PAm_border-bottom-left-radius: 3px;
  --mixin-DKMQfJbn_PAm_border-bottom-right-radius: 3px;
  --mixin-DKMQfJbn_PAm_border-top-left-radius: 3px;
  --mixin-DKMQfJbn_PAm_border-top-right-radius: 3px;
  --mixin-DKMQfJbn_PAm_font-family: "Inconsolata";
  --mixin-DKMQfJbn_PAm_padding-bottom: 3px;
  --mixin-DKMQfJbn_PAm_padding-left: 6px;
  --mixin-DKMQfJbn_PAm_padding-right: 6px;
  --mixin-DKMQfJbn_PAm_padding-top: 3px;
  --mixin-DKMQfJbn_PAm_white-space: pre-wrap;
  --mixin-82OD2ggDREse_display: flex;
  --mixin-82OD2ggDREse_flex-direction: column;
  --mixin-82OD2ggDREse_align-items: stretch;
  --mixin-82OD2ggDREse_justify-content: flex-start;
  --mixin-82OD2ggDREse_list-style-position: outside;
  --mixin-82OD2ggDREse_padding-left: 40px;
  --mixin-82OD2ggDREse_position: relative;
  --mixin-82OD2ggDREse_list-style-type: disc;
  --mixin-82OD2ggDREse_white-space: pre-wrap;
  --mixin-gYfXJLN45IA__display: flex;
  --mixin-gYfXJLN45IA__flex-direction: column;
  --mixin-gYfXJLN45IA__align-items: stretch;
  --mixin-gYfXJLN45IA__justify-content: flex-start;
  --mixin-gYfXJLN45IA__list-style-position: outside;
  --mixin-gYfXJLN45IA__padding-left: 40px;
  --mixin-gYfXJLN45IA__position: relative;
  --mixin-gYfXJLN45IA__list-style-type: decimal;
  --mixin-gYfXJLN45IA__white-space: pre-wrap;
  --mixin-q_qWv_ap5BO4_color: #000000;
  --mixin-q_qWv_ap5BO4_font-size: 20px;
  --mixin-q_qWv_ap5BO4_font-weight: 600;
  --mixin-q_qWv_ap5BO4_line-height: 1.5;
  --mixin-q_qWv_ap5BO4_white-space: pre-wrap;
  --mixin-g0i02CEelWgB_color: #000000;
  --mixin-g0i02CEelWgB_font-size: 16px;
  --mixin-g0i02CEelWgB_font-weight: 600;
  --mixin-g0i02CEelWgB_line-height: 1.5;
  --mixin-g0i02CEelWgB_white-space: pre-wrap;
  --mixin-i1Vyii3Tr5rv_color: #3291ff;
  --mixin-i1Vyii3Tr5rv_white-space: pre-wrap;
  --mixin-gZCFXhjbKxEz_white-space: pre-wrap;
  --mixin-qjhMrhNGhbsu_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-1MMexMPQ6oQu_font-family);
  font-size: var(--mixin-1MMexMPQ6oQu_font-size);
  font-weight: var(--mixin-1MMexMPQ6oQu_font-weight);
  font-style: var(--mixin-1MMexMPQ6oQu_font-style);
  color: var(--mixin-1MMexMPQ6oQu_color);
  text-align: var(--mixin-1MMexMPQ6oQu_text-align);
  text-transform: var(--mixin-1MMexMPQ6oQu_text-transform);
  line-height: var(--mixin-1MMexMPQ6oQu_line-height);
  letter-spacing: var(--mixin-1MMexMPQ6oQu_letter-spacing);
  white-space: var(--mixin-1MMexMPQ6oQu_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-oHVd5rj6uuGA_color);
  font-weight: var(--mixin-oHVd5rj6uuGA_font-weight);
  font-size: var(--mixin-oHVd5rj6uuGA_font-size);
  line-height: var(--mixin-oHVd5rj6uuGA_line-height);
  letter-spacing: var(--mixin-oHVd5rj6uuGA_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-6JiNCB75XM1Q_color);
  font-size: var(--mixin-6JiNCB75XM1Q_font-size);
  font-weight: var(--mixin-6JiNCB75XM1Q_font-weight);
  letter-spacing: var(--mixin-6JiNCB75XM1Q_letter-spacing);
  line-height: var(--mixin-6JiNCB75XM1Q_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-TjRmDP1Kmf2f_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-6OTPkJj9WJKL_color);
  font-size: var(--mixin-6OTPkJj9WJKL_font-size);
  font-weight: var(--mixin-6OTPkJj9WJKL_font-weight);
  line-height: var(--mixin-6OTPkJj9WJKL_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-jNSA0fYJ36B5_color);
  font-size: var(--mixin-jNSA0fYJ36B5_font-size);
  font-weight: var(--mixin-jNSA0fYJ36B5_font-weight);
  line-height: var(--mixin-jNSA0fYJ36B5_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mjhYM9yXudCY_font-family);
  border-radius: var(--mixin-mjhYM9yXudCY_border-top-left-radius)
    var(--mixin-mjhYM9yXudCY_border-top-right-radius)
    var(--mixin-mjhYM9yXudCY_border-bottom-right-radius)
    var(--mixin-mjhYM9yXudCY_border-bottom-left-radius);
  padding: var(--mixin-mjhYM9yXudCY_padding-top)
    var(--mixin-mjhYM9yXudCY_padding-right)
    var(--mixin-mjhYM9yXudCY_padding-bottom)
    var(--mixin-mjhYM9yXudCY_padding-left);
  border-top: var(--mixin-mjhYM9yXudCY_border-top-width)
    var(--mixin-mjhYM9yXudCY_border-top-style)
    var(--mixin-mjhYM9yXudCY_border-top-color);
  border-right: var(--mixin-mjhYM9yXudCY_border-right-width)
    var(--mixin-mjhYM9yXudCY_border-right-style)
    var(--mixin-mjhYM9yXudCY_border-right-color);
  border-bottom: var(--mixin-mjhYM9yXudCY_border-bottom-width)
    var(--mixin-mjhYM9yXudCY_border-bottom-style)
    var(--mixin-mjhYM9yXudCY_border-bottom-color);
  border-left: var(--mixin-mjhYM9yXudCY_border-left-width)
    var(--mixin-mjhYM9yXudCY_border-left-style)
    var(--mixin-mjhYM9yXudCY_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-sKnO4ZsnEIe-_color);
  padding-left: var(--mixin-sKnO4ZsnEIe-_padding-left);
  border-left: var(--mixin-sKnO4ZsnEIe-_border-left-width)
    var(--mixin-sKnO4ZsnEIe-_border-left-style)
    var(--mixin-sKnO4ZsnEIe-_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-DKMQfJbn_PAm_font-family);
  border-radius: var(--mixin-DKMQfJbn_PAm_border-top-left-radius)
    var(--mixin-DKMQfJbn_PAm_border-top-right-radius)
    var(--mixin-DKMQfJbn_PAm_border-bottom-right-radius)
    var(--mixin-DKMQfJbn_PAm_border-bottom-left-radius);
  padding: var(--mixin-DKMQfJbn_PAm_padding-top)
    var(--mixin-DKMQfJbn_PAm_padding-right)
    var(--mixin-DKMQfJbn_PAm_padding-bottom)
    var(--mixin-DKMQfJbn_PAm_padding-left);
  border-top: var(--mixin-DKMQfJbn_PAm_border-top-width)
    var(--mixin-DKMQfJbn_PAm_border-top-style)
    var(--mixin-DKMQfJbn_PAm_border-top-color);
  border-right: var(--mixin-DKMQfJbn_PAm_border-right-width)
    var(--mixin-DKMQfJbn_PAm_border-right-style)
    var(--mixin-DKMQfJbn_PAm_border-right-color);
  border-bottom: var(--mixin-DKMQfJbn_PAm_border-bottom-width)
    var(--mixin-DKMQfJbn_PAm_border-bottom-style)
    var(--mixin-DKMQfJbn_PAm_border-bottom-color);
  border-left: var(--mixin-DKMQfJbn_PAm_border-left-width)
    var(--mixin-DKMQfJbn_PAm_border-left-style)
    var(--mixin-DKMQfJbn_PAm_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-82OD2ggDREse_display);
  flex-direction: var(--mixin-82OD2ggDREse_flex-direction);
  align-items: var(--mixin-82OD2ggDREse_align-items);
  justify-content: var(--mixin-82OD2ggDREse_justify-content);
  list-style-position: var(--mixin-82OD2ggDREse_list-style-position);
  padding-left: var(--mixin-82OD2ggDREse_padding-left);
  position: var(--mixin-82OD2ggDREse_position);
  list-style-type: var(--mixin-82OD2ggDREse_list-style-type);
  flex-column-gap: var(--mixin-82OD2ggDREse_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-gYfXJLN45IA__display);
  flex-direction: var(--mixin-gYfXJLN45IA__flex-direction);
  align-items: var(--mixin-gYfXJLN45IA__align-items);
  justify-content: var(--mixin-gYfXJLN45IA__justify-content);
  list-style-position: var(--mixin-gYfXJLN45IA__list-style-position);
  padding-left: var(--mixin-gYfXJLN45IA__padding-left);
  position: var(--mixin-gYfXJLN45IA__position);
  list-style-type: var(--mixin-gYfXJLN45IA__list-style-type);
  flex-column-gap: var(--mixin-gYfXJLN45IA__flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-q_qWv_ap5BO4_color);
  font-size: var(--mixin-q_qWv_ap5BO4_font-size);
  font-weight: var(--mixin-q_qWv_ap5BO4_font-weight);
  line-height: var(--mixin-q_qWv_ap5BO4_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-g0i02CEelWgB_color);
  font-size: var(--mixin-g0i02CEelWgB_font-size);
  font-weight: var(--mixin-g0i02CEelWgB_font-weight);
  line-height: var(--mixin-g0i02CEelWgB_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-i1Vyii3Tr5rv_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
